In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('metal_bands.csv', encoding='latin-1', sep=';')

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   band_name  5000 non-null   object
 1   fans       5000 non-null   int64
 2   formed     5000 non-null   object
 3   origin     4992 non-null   object
 4   split      5000 non-null   object
 5   style      5000 non-null   object
dtypes: int64(1), object(5)
memory usage: 234.5+ KB

In [11]:
data.dtypes

band_name    object
fans          int64
formed       object
origin       object
split        object
style        object
dtype: object

In [13]:
data.fans.dtypes

dtype('int64')

In [14]:
data

,band_name,fans,formed,origin,split,style
0,Iron Maiden,4195,1975,United Kingdom,-,"New wave of british heavy,Heavy"
1,Opeth,4147,1990,Sweden,1990,"Extreme progressive,Progressive rock,Progressive"
2,Metallica,3712,1981,USA,-,"Heavy,Bay area thrash"
3,Megadeth,3105,1983,USA,1983,"Thrash,Heavy,Hard rock"
4,Amon Amarth,3054,1988,Sweden,-,Melodic death
...,...,...,...,...,...,...
4995,Atara,0,2006,France,2006,"Black,Grindcore"
4996,Avicularia,0,2003,Croatia,-,Avantgarde death
4997,Awake,0,2006,United Kingdom,2006,"Heavy,Progressive"
4998,Axatak,0,1983,Australia,1988,"Hard rock,Heavy"
4999,Axis Of Despair,0,2014,Sweden,2014,Grindcore

In [44]:
produitsDict = {
    'smartphone':{'prix':1000,'enStock':True},
    'chaussures':{'prix':100,'enStock':False},
    'console':{'prix':400,'enStock':True}
}
df = pd.DataFrame(produitsDict)
df

        smartphone chaussures console
prix          1000        100     400
enStock       True      False    True

In [47]:
df.loc['prix','chaussures']
df.loc[['prix','enStock'],'chaussures']
data.iloc[0:5,0:3]

     band_name  fans formed
0  Iron Maiden  4195   1975
1        Opeth  4147   1990
2    Metallica  3712   1981
3     Megadeth  3105   1983
4  Amon Amarth  3054   1988

In [58]:
for i in data:
    print(i)

band_name
fans
formed
origin
split
style

In [74]:
import numpy as np
data.replace('-',np.nan, inplace=True)
data.head(5)

,band_name,fans,formed,origin,split,style
0,Iron Maiden,4195,1975,United Kingdom,NaN,"New wave of british heavy,Heavy"
1,Opeth,4147,1990,Sweden,1990,"Extreme progressive,Progressive rock,Progressive"
2,Metallica,3712,1981,USA,NaN,"Heavy,Bay area thrash"
3,Megadeth,3105,1983,USA,1983,"Thrash,Heavy,Hard rock"
4,Amon Amarth,3054,1988,Sweden,NaN,Melodic death
...,...,...,...,...,...,...
4995,Atara,0,2006,France,2006,"Black,Grindcore"
4996,Avicularia,0,2003,Croatia,NaN,Avantgarde death
4997,Awake,0,2006,United Kingdom,2006,"Heavy,Progressive"
4998,Axatak,0,1983,Australia,1988,"Hard rock,Heavy"
4999,Axis Of Despair,0,2014,Sweden,2014,Grindcore